* {box-sizing: border-box;}

/*---------------------------------
            CONTAINERS
---------------------------------*/

body {
    opacity: 1;
    transition: 2s opacity;
}

.background2 {
    background-image: url(../red_yellow_background.jpg);
    position: absolute;
    background-size: cover;
    width: 100%;
    right: 0;
    
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.container {
    display: flex;
    justify-content: center;
}

.container-2 {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: -20px auto;
    border: 2px solid black;
    box-shadow: 0 0 16px -1px rgba(0, 0, 0, 1);
}

.container-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 65px;
}

html {
    scroll-behavior: smooth;
}

/*---------------------------------
                NAV
---------------------------------*/

.nav-box {
    width: 100%;
    position: sticky;
    top: 15px;
    z-index: 100;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    margin-left: 15px;
    margin-top: 10px;
}

nav a {
    text-align: center;
    display: inline;
    text-decoration: none;
    color: #dedede;
    font-weight: 500;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    border: 2px solid black;
    box-shadow: 0 0 15px 5px black;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
}

nav a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

nav:hover {
    opacity: 1;
}

/*---------------------------------
            VIDEO
---------------------------------*/

#background_video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-size: cover;
}


/*---------------------------------
            HOME
---------------------------------*/

#home {
    text-align: center;
    margin-top: 200px;
    line-height: 5px;
}

.title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
}

.title {
    font-family: 'Cinzel', serif;
    z-index: 1;
    font-size: 2em;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0);
}

.title button {
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.164);
    border: 2px solid #c60432;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px #fc533a;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 100px;
    transition: 1s;
}

.title button:hover {
    background-color: rgba(243, 6, 6, 0.2);
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}

.title p {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
}

.name {
    animation: colorFlash 2s infinite;
}

/*---------------------------- 
        LOGO BOX
----------------------------*/


.logo-box {
    border: 2px solid black;
    box-shadow: 0 0 16px -1px rgba(0, 0, 0, 1);
    padding-right: 30px;
    padding-left: 30px;
    background-color: #ffdd3896;
    width: 85%;
}

#skills {
    font-family: 'Josefin Sans', sans-serif;
}

.column {
    flex: 100%;
    padding: 5px;
}

.column img {
    filter: grayscale(75%);
    transition: .5s ease;
    object-fit: scale-down;
    width: 100%;
}

.row-logo {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-bottom: -35px;
}

#python {
    margin-right: 20px;
    margin-top: 15px;
}

#git {
    margin-left: 30px;
    margin-top: 10px;
}

#css-image img {
    transform: scale(1.1);
    padding-bottom: 15px;
}

#html-image {
    margin-top: -10px;
}

.overlay {
    color: #dedede;
    opacity: 0;
    z-index: 25;
    transform: 2s;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    transform: translateY(-50%);
    text-align: center;
}




/*---------------------------------
          LOGO BOX HOVER
---------------------------------*/

.column img:hover {
    filter: grayscale(0%);
    transition: transform 1s;
    transform: scale(1.3);
    transition: 1.5s ease;
}

img:hover ~ .overlay {
    transition: opacity 2s;
    opacity: 1;
    transition: 5s ease;
    transform: scale(1.2);
    transition: transform 2s;
}

#css-image img:hover {
    filter: grayscale(0%);
    transition: transform 1s;
    transform: scale(1.5);
    transition: 1.5s ease;
}



/*---------------------------------
            SLIDESHOW
---------------------------------*/

.slideshow-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

#slideshow {
    width: 250px;
    position: relative;
}

#slideshow div{
    background-color: rgba(0, 0, 0, 0);
}

.slideshow-box img {
    width: 250px;
    position: absolute;
}


/*---------------------------------
               ABOUT
---------------------------------*/

.column_1 {
    float: left;
    width: 50%;
    padding: 20px;
    padding-top: 1.90%;
    height: 400px;
    background-color: rgba(197, 195, 198, .6);
    text-align: center;
}

.column_2 {
    float: left;
    width: 50%;
    padding-top: 75px;
    height: 400px;
    background-color: rgba(70, 73, 76, .6);
    margin: 0 auto;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.column_1 h1 {
    font-size: 24pt;
    margin-top: -10px;
    font-family: 'Josefin Sans', sans-serif;
}

.column_1 p {
    font-family: 'Josefin Sans', sans-serif;
}

.column_1 a {
    text-decoration: none;
    color: black;
}

/*---------------------------------
         ABOUT/GIT HOVER
---------------------------------*/


#gitphoto:hover {
    transform: scale(1.1);
    transition: .5s ease;
    transform: translateY(-8%);
}
/*---------------------------------
              GITHUB
---------------------------------*/

#gitphoto {
    margin-top: -6%;
    max-width: 300px;
    max-height: 300px;
}

#github {
    text-align: center;
}



.column_3 img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s ease;
}

.column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgba(70, 73, 76, .6);
    text-align: center;
}

.sql_logo {
    max-width: 80%;
    max-height: 75%;
    margin-left: 75px;
    margin-top: 25px;
}

/*---------------------------------
              CONTACT
---------------------------------*/

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


input[type=text] {
	width: 100%;
	padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold; 
}


input[type=submit] {
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto; 
    font-family: Perpetua, Rockwell Extra Bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.5);
}


input[type=submit]:hover {
	background-color: white; 
	color: black;
	font-weight: bold; 
	transition: transform 1.5s;
}


form { 
	border-radius: 5px; 
	background-color: #f2f2f2;
	padding: 20px;
	font-family: "Trebuchet MS", Optima;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    border: none;
    z-index: 9;
    background-color: white;
    border-radius: 5px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/*---------------------------------
          COLUMN 3 HOVER
---------------------------------*/

.column_3 img:hover {
    transform: scale(0.9);
}

/*---------------------------------
            FOOTER
---------------------------------*/

footer {
    width: 100%;
    text-align: center;
    color: #eee;
    margin-top: 20px;
    font-variant: small-caps;
}



/*---------------------------------
            KEYFRAME
---------------------------------*/

@keyframes colorFlash {
    0% {color: white;}
    50% {color: yellow;}
    100% {color: white;}
}

/*<span class="name">Cameron</span>*/