*{box-sizing:border-box}

/*---------------------------------
               BODY
---------------------------------*/

#home {
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

#background_video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -2;
    background-size: cover;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-family: 'Varela', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.title {
    text-align: center;
    font-family: 'Cinzel', serif;
    z-index: 1;
    font-size: 2em;
    color: rgb(197, 195, 198);
    background-color: rgba(0, 0, 0, 0);
    margin-top: 85px;
}




/*---------------------------------
                NAV
---------------------------------*/

.nav-box {
    width: 100%;
    position: fixed;
    top: 5px;
    z-index: 100;
}

nav {
    top: 4px;
    margin: 0px auto;
    width: 40%;
    text-align: center;
}

nav a {
    text-align: center;
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 30px;
    background-color: rgba(197, 195, 198, 0.384);
    opacity: 1;
    border-radius: 5px;
    border: 1px solid rgb(70, 73, 76);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

nav a:hover {
    color: white;
    background-color: rgb(197, 195, 198);
}

nav:hover {
    opacity: 1;
}

/*---------------------------------
            LOGO BOX
---------------------------------*/


.logo-box {
    width: auto;
    height: 30%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1;
    position: relative;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.9);
    box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.4);
}

.logo-box #skills {
    text-align: center;
    color: rgb(197, 195, 198);
    position: relative;
    transform: translate(0%, -25%);
    font-family: 'Cinzel', serif;
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 22pt;
}

.row-logo {
    width: auto;
    display: flex;
    margin: 0px auto;
    position: relative;
    text-align: center;
    margin-top: -40px;
    z-index: 5;
}

.row {
    width: 85%;
    display: flex;
    margin: 0px auto;
    position: relative;
    text-align: center;
    margin-top: -40px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 1);
    box-shadow: -3px -3px 5px 3px rgba(0, 0, 0, 1)
}

.column {
    flex: 10%;
    padding: 5px;
}

.column img {
    width: 75%;
    filter: grayscale(75%);
    transition: .5s ease;
}

#python {
    margin-right: 20px;
    margin-top: 15px;
}

#git {
    margin-left: 30px;
    margin-top: 10px;
}

#css-image img {
    transform: scale(1.1);
    padding-bottom: 15px;
}

#html-image {
    margin-top: -5px;
}

.overlay {
    color: rgb(220, 220, 221);
    opacity: 0;
    z-index: 25;
    transform: 2s;
    font-size: 2em;
    font-family: 'Sigmar One', cursive;
    transform: translateY(-50%);
}



/*---------------------------------
          LOGO BOX HOVER
---------------------------------*/

.column img:hover {
    filter: grayscale(0%);
    transition: transform 1s;
    transform: scale(1.5);
    transition: 1.5s ease;
}

img:hover ~ .overlay {
    transition: opacity 2s;
    opacity: 1;
    transition: 5s ease;
    transform: scale(1.2);
    transition: transform 2s;
}

#css-image img:hover {
    filter: grayscale(0%);
    transition: transform 1s;
    transform: scale(1.8);
    transition: 1.5s ease;
}

/*---------------------------------
          LOWER WALLPAPER
---------------------------------*/
.wallpaper {
    max-width: 100%;
    height: 100%;
}

.lower-container {
    background-image: url("../images/background_wall2.png");
    padding-top: 8%;
}
/*---------------------------------
               ABOUT
---------------------------------*/

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.90%;
    height: 400px;
    background-color: rgb(197, 195, 198);
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 7%;
    height: 370px;
    background-color: rgb(70, 73, 76);
}

.column_2 img {
    max-width: 440px;
    max-height: 350px;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s ease;
    margin-top: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column_1 h1 {
    font-size: 24pt;
}

.column_1 p {
    font-family: 'Playfair Display SC', serif;
}


/*---------------------------------
         ABOUT/GIT HOVER
---------------------------------*/

.column_2 img:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

#gitphoto:hover {
    transform: scale(1.1);
    transition: .5s ease;
    transform: translateY(-8%);
}
/*---------------------------------
              GITHUB
---------------------------------*/

#gitphoto {
    margin-top: -9%;
    max-width: 300px;
    max-height: 300px;
}

/*---------------------------------
              CONTACT
---------------------------------*/


.column_3 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s ease;
}

.column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgb(70, 73, 76)
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


input[type=text] {
	width: 100%;
	padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold; 
}


input[type=submit] {
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto; 
    font-family: Perpetua, Rockwell Extra Bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.5);
}


input[type=submit]:hover {
	background-color: white; 
	color: black;
	font-weight: bold; 
	transition: transform 1.5s;
}


form { 
	border-radius: 5px; 
	background-color: #f2f2f2;
	padding: 20px;
	font-family: "Trebuchet MS", Optima;
}
/*---------------------------------
          COLUMN 3 HOVER
---------------------------------*/

.column_3 img:hover {
    transform: scale(0.9);
}

/*---------------------------------
            FOOTER
---------------------------------*/

footer {
    width: 100%;
    text-align: center;
    color: white;
}